__pycache__/
*.py[cod]
.venv/
venv/
.env
*.db
*.sqlite3
node_modules/
dist/
/.pnpm-store/
coverage/
.pytest_cache/
.DS_Store
.idea/
.vscode/
data/raw/**
data/processed/**
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.joblib
models/*.keras
models/*.h5

data/external/**
!data/external/.gitkeep
